<!DOCTYPE html>
<html>
<head>
    <title>OneFeed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/reset.css'/>
    <link rel='stylesheet' href='/stylesheets/index.css'/>
</head>
<body>

<div id="header">
    <span id="logo">OneFeed</span>
</div>
<div id="mainContainer">
    <div id="articleContainer"></div>
    <!--<div class="spinner">-->
        <!--<div class="bounce1"></div>-->
        <!--<div class="bounce2"></div>-->
        <!--<div class="bounce3"></div>-->
    <!--</div>-->
</div>

<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
<script src="/scripts/index.js"></script>
</body>
</html>