/* onefeed SCSS */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800");
/* Mobile Styles */
@media only screen and (max-width: 400px) {
  #mainConatiner {
    font-family: 'Open Sans', sans-serif;
    width: 100%; }
    #mainConatiner #header {
      position: fixed;
      height: 2vw;
      width: 100%;
      font-weight: 800;
      text-transform: uppercase;
      padding-top: 0.5%;
      padding-bottom: 0.5%;
      font-size: 1.15vw;
      line-height: 0.5vw;
      color: #616161;
      background-color: #E0E0E0;
      padding-left: 25%; } }
